

.words:nth-child(even)  {
  background-color:  lightgray;
}

.words {
  width: 50%;
  margin: auto;
}

.adding {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.adding > mat-form-field {
  margin-right: 10px;
}

mat-divider {
  margin-bottom: 20px;
}
