
<div class="words" *ngFor="let word of this.words">
  <app-add-lesson-word [word]="word"></app-add-lesson-word>
</div>
<app-add-lesson-input (wordChange)="addWord($event)"></app-add-lesson-input>
<mat-divider></mat-divider>
<div class="adding">
  <mat-form-field appearance="fill">
    <mat-label>Nazwa lekcji</mat-label>
    <input matInput [(ngModel)]="this.name">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addLesson()">Zapisz lekcję</button>
</div>
