main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

mat-card {
  height: 400px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.bot > a {
  margin: 0;
}

small {
  text-decoration: italic;
}

main > * {
  padding: 20px 20px;
  margin: 40px auto;

}

mat-form-field {
 margin-right: 20px;
 margin-bottom: 0;
}


mat-form-field.mat-form-field {
  width: 500px;
}

.bad {
  color: red;
}

.good {
  color: green;
}
