
<main>
  <mat-card class="card">
    <div *ngIf="this.isFinished === false">
    <div class="top">
      <p>Tytuł lekcji: {{this.learningService.activeLesson.name}}</p>
    <p>{{this.doneCount}} / {{this.learningService.activeLesson.words.length}}</p>
    </div>
    <h2><small>Podaj tłumaczenie następującego wyrażenia:</small><br>{{this.word}}</h2>
    <h3>
      <mat-form-field appearance="outline">
        <mat-label>Odpowiedź</mat-label>
        <input matInput placeholder="Podaj tłumaczenie" autocomplete="off"
        (keyup.enter)="setAnswer()" type="text" name="answer" [(ngModel)]="this.answer">
      </mat-form-field>
    <!--<button mat-raised-button type="submit" color="primary" >Sprawdź</button> -->
    </h3>
    <div *ngIf="this.isGoodAnswer === true">
      <h1 class="good">DOBRZE!</h1>
    </div>
    <div *ngIf="this.isGoodAnswer === false">
      <h1 class="bad">ŹLE!</h1>
    </div>
    </div>
    <div class="bot" *ngIf="this.isFinished === true">
      <div>
        <h1>BRAWO! Lekcja ukończona</h1>
        <h4>Twój wynik: {{this.learningService.getScore()}}%</h4>
      </div>
      <a [routerLink]="['/dashboard']"><button mat-raised-button type="submit" color="primary" >Strona główna</button></a>
    </div>
  </mat-card>
</main>
