<div>
  <mat-form-field appearance="fill">
    <mat-label>Wyrażenie</mat-label>
    <input matInput [(ngModel)]="this.word.targetLangWord">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tłumaczenie</mat-label>
    <input matInput [(ngModel)]="this.word.meaningWord">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addWord()">Dodaj</button>
</div>
