<div class="d">
  <div *ngFor="let lesson of this.lessons">
    <mat-card class="card">
      <mat-card-header>
        <p>{{lesson.name}}</p>
      </mat-card-header>
      <mat-card-content>
        <p>Liczba pytań: {{lesson.words.length}}</p>
      </mat-card-content>
      <mat-card-actions>
      <a [routerLink]="['/lesson', lesson.id]">
        <button mat-raised-button type="submit" color="primary" >Zacznij naukę</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
