<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a [routerLink]="['/dashboard']">Fiszki</a>
    </div>
    <div>
      <ng-container *ngIf="!this.authService.user">
         <span><a [routerLink]="['/login']">Zaloguj się</a></span>
      </ng-container>
      <ng-container *ngIf="this.authService.user">
         <span><a [routerLink]="['/addlesson']">Dodaj lekcję</a></span>
      </ng-container>
      <ng-container *ngIf="this.authService.user">
        <span><a (click)="logout()">Wyloguj się</a></span>
      </ng-container>
      <!--<span>Menu 2</span>-->
    </div>
  </mat-toolbar-row>
