div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: inherit;
  padding: 10px;
}

button {
  display: none;
}

div:hover > button {
  display: block;
  position: absolute;
  right: 35%;
}

div:hover {
  background-color: lightgray;
}


